@model ManufacturingChips.Models.SimulationView

<div id="animation" class="animation-container">
    @for (int line = 1; line <= Model.LinesCount; line++)
    {
        <div class="line" style="--mp:@Model.MachinesPerLine">
            <div class="queue" id="queue@line">
                <div class="queue-count">0</div>
            </div>
            @for (int m = 0; m < Model.MachinesPerLine; m++)
            {
                <div class="machine" data-index="@m">
                    M@(m+1)
                    <div class="machine-count">0</div>
                </div>
            }
        </div>
    }
</div>